@model CatalogoMusicas.Models.Podcast

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Podcast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPodcast" />
            <div class="form-group">
                <label asp-for="Host" class="control-label"></label>
                <input asp-for="Host" class="form-control" />
                <span asp-validation-for="Host" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalReproducoes" class="control-label"></label>
                <input asp-for="TotalReproducoes" class="form-control" />
                <span asp-validation-for="TotalReproducoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCurtidas" class="control-label"></label>
                <input asp-for="TotalCurtidas" class="form-control" />
                <span asp-validation-for="TotalCurtidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classificacao" class="control-label"></label>
                <input asp-for="Classificacao" class="form-control" />
                <span asp-validation-for="Classificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
